<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<dom-module id="gft-header-card">
  <template>
    <style>
      :host {
        display: grid;
        grid-template-areas: 'left right';
        grid-auto-columns: 40% 60% ;
        --gft-header-correo-color: rgb(138, 138, 138);
      }

      .card-content {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0, rgba(0, 0, 0, 0.2) 0 3px 1px -2px;
        border-radius: 7px;
      }

      .uno {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .dos {
        width: 50px;
        height: 50px;
        background: rgb(203, 200, 200);
        border-radius: 50px;
      }

      .tres {
        display: flex;
        flex-direction: column;
      }

      .cuatro {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }
      .cinco {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .seis {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-left: 1px solid gray;
      }

      .border-botton {
        border-bottom: 1px solid gray;
      }

      .padding {
        padding: 10px;
      }

      .mes {
        font-size: 17px;
      }

      .nombre {
        font-size: 15px;
      }

      .correo {
        margin-top: 3px;
        font-size: 11px;
        color: var(--gft-header-correo-color, rgb(138, 138, 138));
      }

      .dia {
        margin-right: 3px;
      }

    </style>
   
    <div>
      <div class="card-content">
        <div class="padding">
          <div class="uno">
            <div class="dos"></div>
            <!--<img class="dos" src="https://www.w3schools.com/images/lamp.jpg">-->
            <div class="tres">
              <div class="cuatro">
                <span class="dia">[[dia]]</span>
                <span class="anio">[[anio]]</span>
              </div>
              <div class="mes">[[mes]]</div>
            </div>
          </div>
          <div class="cinco">
            <div class="nombre">[[nombre]]</div>
            <div class="correo">[[correo]]</div>
          </div>
        </div>
        <div class="seis">
          <paper-icon-button icon="[[iconPrimary]]"></paper-icon-button>
          <div class="border-botton"></div>
          <paper-icon-button icon="[[iconSecundary]]"></paper-icon-button>
        </div>
      </div>
    </div>

  </template>

  <script>

    class GftHeaderCard extends Polymer.Element {
      static get is() { return 'gft-header-card'; }
      static get properties() {
        return {
          dia: {
            type: Number,
            value: 22
          },
          anio: {
            type: Number,
            value: 2020
          },
          mes: {
            type: String,
            value: 'Septiembre'
          },
          nombre: {
            type: String,
            value: 'Luis De La Rosa De La Cruz'
          },
          correo: {
            type: String,
            value: 'luis_rc0910@hotmial.com'
          },
          iconPrimary: {
            type: String,
            value: 'settings'
          },
          iconSecundary: {
            type: String,
            value: 'input'
          }
        };
      }
    }

    window.customElements.define(GftHeaderCard.is, GftHeaderCard);
  </script>
</dom-module>
